<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .comments,
      .article,
      .commentForm {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Article投稿部分 -->
    <form
      th:action="@{/article/insertArticle}"
      method="post"
      th:object="${articleForm}"
    >
      <label for="name">投稿者名:</label
      ><input type="text" th:field="*{name}" /><br />
      <label for="content">投稿内容:</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea
      ><br />
      <button>記事投稿</button>
    </form>

    <!-- 記事全件表示部分 -->
    <div class="article" th:each="article : ${articleList}">
      <hr />
      <span>投稿者名:</span>
      <span th:text="${article.name}"></span><br />
      <span>投稿内容:</span><br />
      <span th:text="${article.content}"></span><br />
      <input type="hidden" name="id" th:value="${article.id}" />
      <button>記事削除</button><br />

      <!-- 記事に紐づくコメント全件表示 -->
      <div class="comments" th:each="comment:${article.commentList}">
        <div th:unless="${#lists.isEmpty(article.commentList)}">
          <span>コメント者名: </span><span th:text="${comment.name}"></span
          ><br />
          <span>コメント内容:</span><br />
          <span th:text="${comment.content}"></span><br />
        </div>
      </div>

      <!-- コメントフォーム -->
      <form
        class="commentForm"
        th:action="@{/article/insertComment}"
        method="post"
        th:object="${commentForm}"
      >
        <label for="name">名前:</label><br />
        <input type="text" th:field="*{name}" /><br />
        <label for="content">コメント</label><br />
        <textarea type="text" th:field="*{content}" />
        <input type="hidden" name="articleId" th:value="${article.id}" /><br />
        <button>コメント投稿</button>
      </form>
    </div>
  </body>
</html>
